.text{
    font-family: Verdana, sans-serif;
    color:white;
}
body{
    background-color:darkslateblue;
}

#title{
    font-family: Helvetica, sans-serif;
    text-decoration:underline;
    color: white;
    text-decoration-style: wavy;
    text-decoration-color: darkslateblue;
    text-align: center;
}

form{
    margin-top:50px;
}
input{
    margin-top:12px;
    font-size:18px;
}
#desc{
    text-align:center;
}
span{
    background-color:slateblue;
    border-radius:12px;
}